<%= simple_form_for @command do |f| %>
  <p>
    Welcome to Rover HQ, Commander.

    Our Rovers are ready to explore Gladiator Plateau
  </p>
  <%= f.input :command_sheet, as: :file, label: false, error: false %>
  <%= f.error :base, class: 'red' %><br><br>
  <%= f.submit 'Submit', class: 'btn button btn-primary' %>
<% end %>
